<ion-header>
  <ion-toolbar>
    <ion-title>
      Entrenamientos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let training of trainings;">
    <ion-card-header>
      <ion-card-title>{{training.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ejercicios</p>
      <div *ngFor="let exercise of training.exerciseEntities;">
        <p>Nombre: {{exercise.name}}</p>
        <p>Musculo: {{exercise.muscleEntity.name}}</p>
        <p>Descripción: {{exercise.description}}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>